.page-background-sidebar {
  background-color: #ffffff !important;
}
.text-primary {
  background-color: #4c309b !important; /* Defina a cor azul como desejado */
}

.text-secondary {
  background-color: gray !important; /* Defina a cor cinza como desejado */
}
