<nav class="navbar navbar-expand-lg page-background-header">
  <div class="container-fluid">
    <a class="navbar-brand active me-auto fs-2" href="#"
      ><span class="fw-bold" style="color: #4c309b">Kinvo</span
      ><span>premium</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            style="display: flex; align-items: center"
          >
            <div
              style="
                width: 36px;
                height: 36px;
                background-color: #ccc;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <i class="fas fa-medal" style="color: white"></i>
            </div>
            <div style="margin-left: 8px">
              <span
                class="text-break text-uppercase fw-bold"
                style="color: #777; font-size: 10px"
                >Saldo Bruto</span
              >
              <p
                class="px-0 fw-bold"
                style="margin-top: -5px; margin-bottom: 0; color: #777"
              >
                130.521.230,02
              </p>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            style="display: flex; align-items: center"
          >
            <div
              style="
                width: 36px;
                height: 36px;
                background-color: #ccc;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 30px;
              "
            >
              <i class="material-icons" style="color: white">expand_less</i>
            </div>
            <div style="margin-left: 8px">
              <span
                class="text-break text-uppercase fw-bold"
                style="color: #777; font-size: 10px"
                >Valor Aplicado</span
              >
              <p
                class="fw-bold"
                style="margin-top: -5px; margin-bottom: 0; color: #777"
              >
                521.230,02
              </p>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            style="display: flex; align-items: center"
          >
            <div
              style="
                width: 36px;
                height: 36px;
                background-color: #ccc;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 30px;
              "
            >
              <i class="material-icons" style="color: white">trending_up</i>
            </div>
            <div style="margin-left: 8px">
              <span
                class="text-break text-uppercase fw-bold"
                style="color: #777; font-size: 10px"
                >Rentabilidade</span
              >
              <p
                class="fw-bold"
                style="margin-top: -5px; margin-bottom: 0; color: #777"
              >
                2,34%
              </p>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            style="display: flex; align-items: center"
          >
            <div
              style="
                width: 36px;
                height: 36px;
                background-color: #4c309b;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 30px;
              "
            >
              <i class="material-icons" style="color: white">expand_more</i>
            </div>
            <div style="margin-left: 8px">
              <span
                class="text-break text-uppercase fw-bold"
                style="color: #777; font-size: 10px"
                >Carteira</span
              >
              <p
                class="fw-bold"
                style="margin-top: -5px; margin-bottom: 0; color: #777"
              >
                Minha Carteira
              </p>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            style="display: flex; align-items: center"
          >
            <div
              style="
                width: 36px;
                height: 36px;
                background-color: #4c309b;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 30px;
              "
            >
              <i class="material-icons" style="color: white">menu</i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
